body {
  background-color: #0d0d12;
  color: #00e5ff;
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.blog-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.blog-card {
  background-color: #151515;
  border: 1px solid #00e5ff;
  border-radius: 12px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgb(0, 229, 255);
}


.blog-card:hover {
  transform: translateY(-4px);
  background-color: #1c1c1c;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.card-content img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #00e5ff;
  border-radius: 12px 12px 0 0;
}

.card-content h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #00e5ff;
  margin: 1rem 0 0.5rem;
}

.card-content p {
  color: #c9f7ff;
  font-size: 1rem;
  padding: 0 0.5rem;
  line-height: 1.6;
  text-align: justify;
}

.blog-detail-container {
  max-width: 800px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #0d0d12;
  color: #00e5ff;
  border: 2px solid #00e5ff;
  border-radius: 12px;
}

.blog-detail-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #00e5ff;
}

.blog-detail-image {
  width: 100%;
  height: auto;
  margin: 1.5rem 0;
  border-radius: 8px;
  border: 1px solid #00e5ff;
}

.blog-detail-content {
  font-size: 1.1rem;
  color: #c9f7ff;
  text-align: justify;
  padding-top: 1rem;
}

.back-btn {
  display: inline-block;
  margin-top: 2rem;
  padding: 0.6rem 1.2rem;
  border: 1px solid #00e5ff;
  color: #00e5ff;
  background-color: transparent;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-weight: bold;
}

.back-btn:hover {
  background-color: #00e5ff;
  color: #000;
}